@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
    overflow-x: hidden;
    background-color: #efefef;
    font-family: "Source Sans 3", sans-serif;
    text-rendering: optimizeLegibility;
}

img {
    transition: opacity .25s ease;
    opacity: 0;
}

img[data-loaded="true"] {
    opacity: 1;
}

.container {
    background: none;
}

/* Theme Class Begin */

p,
label,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
span,
strong,
small,
em,
ul,
ol,
li,
br,
hr {
    text-rendering: optimizeSpeed;
    word-spacing: normal;
    letter-spacing: 0px;
}

.btn {
    outline: none !important;
    font-weight: 600;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.form-control {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #cccccc;
    border-radius: 0px;
}

.form-select {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #cccccc;
    border-radius: 0px;
}

.form-select:focus {
    border: 1px solid #c53637;
}

.form-control:focus {
    border: 1px solid #c53637;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cccccc;
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #03668d;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #03668d;
}

.bg-red {
    background-color: #c53637;
}

.bg-blue {
    background-color: #03668d;
}

.bg-yellow {
    background-color: #ffad16;
}

.bg-gray {
    background-color: #2b2b2b;
}

.bg-light-gray {
    background-color: #f9f9f9;
}

.text-red {
    color: #c53637;
}

.text-blue {
    color: #03668d;
}

.text-gray {
    color: #2b2b2b;
}

.btn-red {
    background-color: #c53637;
    color: #ffffff;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.btn-blue {
    background-color: #03668d;
    color: #ffffff;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.btn-yellow {
    background-color: #ffde16;
    color: #2b2b2b;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.btn-outline-red {
    border: 1px solid #c53637;
    background-color: #ffffff;
    color: #c53637;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.btn-outline-blue {
    border: 1px solid #03668d;
    background-color: #ffffff;
    color: #03668d;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.btn-outline-check {
    background-color: #03668d;
    color: #ffffff;
    margin-bottom: 5px;
    padding: 10px;
}

.btn-red:hover, 
.btn-blue:hover {
    color: #ffffff;
}

.btn-check:active+.btn-outline-check,
.btn-check:checked+.btn-outline-check,
.btn-outline-check.active,
.btn-outline-check.dropdown-toggle.show,
.btn-outline-primary:active {
    color: #ffffff;
    background-color: #c53637;
}

.btn-check:hover+.btn-outline-check {
    color: #ffffff;
}


/* Theme Class End */

.navbar {
    background-color: #ffffff !important;
}

.navbar-brand img {
    min-height: 48px;
    max-height: 48px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.navbar-logo-right {
    min-height: 28px;
    max-height: 28px;
    box-sizing: border-box;
}

.navbar-nav .nav-item {
    font-weight: 600;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.dropdown-menu .dropdown-item {
    font-weight: 400;
}

.dropdown-menu .dropdown-item:focus {
    background-color: #03668d;
}


.breadcrumb .breadcrumb-item>a {
    color: #03668d;
}

.breadcrumb .breadcrumb-item+.active {
    color: #c53637;
}

.breadcrumb .breadcrumb-item>a:hover {
    color: #666666;
}

.offcanvas {
    margin: 0;
    padding: 0;
}

.offcanvas-logo {
    background-color: #ffffff;
    box-sizing: border-box;
}

.offcanvas-logo>img {
    width: 196px;
    max-width: 196px;
}

.table-schedule>tbody>tr>td {
    font-size: 16px !important;
}

.table-schedule>tbody>tr>th {
    font-size: 16px !important;
}

.table-schedule>tbody>tr>td b {
    color: #c53637 !important;
}

.img-table .img-fluid {
    max-width: 32px !important;
    height: auto;
}

.img-dashboard .img-fluid {
    max-width: 64px !important;
    height: auto;
}

.modal-header-logo {
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    height: 48px;
}

.page {
    padding-top: 100px;
}

.footer {
    margin-top: 60px;
    border-top: 1px solid #cccccc;
}

label {
    color: #03668d;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

label.error, label.info-label {
    color: #c53637;
    font-size: 14px;
    font-weight: 600;
    text-transform: none;
}

label.required-field::after {
    content: "*";
    color: #ff0000;
}

.spinner-border {
    display: none;
}

.footer-logo {
    min-width: 60px;
    max-width: 72px;
}

.footer-logo-wide {
    width: 128px !important;
}

.bg-hero {
    background-image: url('../assets/images/features/bccc_feature_home_one.png');
    background-color: #c53637;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Hero Animation */

#snowfall {
  position: relative;
  overflow: hidden;
  min-height: 400px;
}

/* Snowflakes appear above the background and content */
#snowfall .snow-particle {
  background: transparent !important;
  text-shadow: none !important;
  box-shadow: none !important;
  filter: none !important;
  -webkit-filter: none !important;
}

/* Keep content below the snowflakes */
#snowfall .snowfall-content {
  position: relative;
  z-index: 2;
}

.img-badge {
    width: 256px;
}

.img-badge-vertical {
    height: 256px;
}

.img-contact {
    width: 360px;
}

#page-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 1;
    background: rgba(150, 150, 150, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 9999;
    overflow: hidden;
}


#page-loader-inner {
    position: absolute;
    background-color: #ffffff;
    padding: 2rem 4rem;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 1px rgba(20,20,20,0.75);
    display: table-cell;
    vertical-align: middle;
    z-index: 100;
    overflow: hidden;
}

#page-loader-img {
    width: 180px;
}

.page-loader-text{
    font-size: 1rem;
    font-weight: 600;
}

#payment-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 1;
    background-color: #ffffff;
    z-index: 9999;
    overflow: hidden;
}


#payment-loader-inner {
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    z-index: 100;
    overflow: hidden;
}

#pg-process-alert {
    display: none;
}

#pg-process-error {
    display: none;
}

.pagination>.page-item .page-link {
    background-color: #ffffff;
    border: 1px solid #03668d;
    color: #03668d;
    font-weight: 400;
    outline: none;
    box-shadow: none;
}

.pagination>.page-item.active .page-link {
    background-color: #03668d;
    border: 1px solid #03668d;
    color: #ffffff;
    font-weight: 700;
}

.nav-pills>.nav-item>.nav-link {
    background-color: #ffffff;
    color: #03668d;
    font-weight: 400;
    outline: none;
    box-shadow: none;
}

.nav-pills>.nav-item>.nav-link.active {
    background-color: #03668d;
    color: #ffffff;
    font-weight: 700;
}

.breadcrumb a {
    text-decoration: none;
    color: #03668d;
}

.text-responsive-d3 {
    word-wrap: break-word;
}

.accordion-button:focus,
.accordion-button:active,
.accordion-button:not(.collapsed) {
    box-shadow: none;
    color: #c53637;
}

.nav-tabs>.nav-item>.nav-link {
    color: #03668d;
    font-weight: bold;
}

.nav-tabs>.nav-item>.nav-link.active {
    color: #c53637;
    font-weight: bold;
}

/* Chart */

.canvasjs-chart-credit {
    display: none !important;
}

/* Media Queries */

@media (min-width: 360px) and (orientation: portrait) {

    .page {
        padding-top: 102px;
    }

    .navbar-nav .nav-item {
        font-weight: 400;
        text-align: center;
        border-bottom: 1px solid #cccccc;
        padding: 10px 0px;
    }

    .offcanvas-body {
        padding: 15px;
    }

    .img-feature {
        padding: 0 60px;
    }

    .text-responsive-d3 {
        font-size: 16px !important;
        word-wrap: break-word;
    }
}